gitpython
filetype
tkextrafont
watchdog
pygments
Pillow
toml
hintedtext
sv-ttk
requests
pyperclip
tkinterweb
mistune
sansio_lsp_client
chardet 
pywinpty; platform_system == "Windows"
ptyprocess; platform_system != "Windows"
